extends layout

block content
  h1 My Story
  p My (middle) name is Zach and I am a software developer and former social worker in San Jose, California. Since 2013 I have worked at Bay Area start ups building web and mobile product experiences.
  p As a child in the 1990's, "screen time" was not exactly regulated. For better or worse I had free reign over the family computer where I built websites and hacked at things. I took computer science in school but I didn't fall in love with programming until years later.
  p I started as a math major at Boston College, but took a year hiatus and decided to travel and learn Spanish. I transferred to UC Berkeley where I got an undergraduate degree in Spanish and Portuguese. While working as a Spanish tutor I volunteered at 
    a(href='https://eastbaysanctuary.org/' target='_blank') East Bay Sanctuary Covenant (EBSC)
    | &nbsp;where I helped immigrants and asylum seekers file federal immigration forms. It was really impactful work and it inspired me to become a social worker. I got my Masters of Social Work from San Jose State and eventually obtained my license.
  p But the drag of paperwork and bureaucracy in the public mental health system wore on me. Finding myself increasingly focused on solutions to the system's inefficiencies, I left and founded a startup.  It was then that I stumbled upon programming again and ultimately developed my craft as a programmer and product thinker.
