extends layout

block content
  h1 Welcome!
  p My name is J. Zach Boone, and this is my playground for building and writing about software.
  img.me(src='https://storage.googleapis.com/jzachb-static/me.jpg' alt='J. Zach Boone')
