extends layout

block content
  h2 jzachb
  p This site is a Node.js Express application that runs on Google Cloud Platform
  h2 Technologies
  p Node.js, Express, express-generator, Jade, Google Cloud Platform
  br
  a(href='https://github.com/JZBoone/jzachb', target='_blank') View Source Code