extends layout

block content
  h2 jzachb
  p= page.description
  h2 Technologies
  p Node.js, Express, Jade, Google Cloud Platform
  h2 Inspiration
  p I am pretty obsessed with seeing my code work in production. After I made the quick sort visualizer, I wanted to publish it somewhere. I finally decided to set up a playground where I could publish the stuff I build!
  h2 Discussion
  p In deciding how to set up my site, my requirements were pretty simple: (1) use technologies that I enjoy and (2) create a home for my demos. I decided to host everything on Google Cloud Platform, and so far, I'm really happy with that choice.  I followed the Node.js quick start tutorial, and getting my application live was pretty much as simple as running the "gcloud app deploy" command.
  br
  a(href='https://github.com/JZBoone/jzachb', target='_blank') View Source Code