extends layout

block content
  h2 Technologies
  p Node.js, Express, express-generator, Jade, Google Cloud Platform
  br
  a(href='https://github.com/JZBoone/jzachb', target='_blank') View Source Code