doctype html
html
  head
    - const title = `jzachb -  ${page.title}`;
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap', rel='stylesheet')
  body
    include nav.jade
    if isDemo
      #demo
        block content
    else
      #wrapper
        #content
          block content
