doctype html
html
  head
    - const title = `jzachb -  ${page.title}`;
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap', rel='stylesheet')
    if page.hasCodeSnippet
      script(src='https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=js&skin=sunburst')
    script(src='/javascripts/index.js')
    script(type="text/javascript") consolePrettyPrint("#{page.title}")
  body
    include nav.jade
    if isDemo
      #demo
        block content
    else
      #wrapper
        #content
          block content
