doctype html
html
  head
    - const title = `jzachb -  ${page.title}`;
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav.jade
    if page.demoUrl
      #demo
        block content
    else
      #content
        block content
